#!/bin/bash
# Set aliases for some generic scripts

WORKSPACE_REPO_HOME="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

alias cleanup-dev='. ${WORKSPACE_REPO_HOME}/ubuntu/cleanup_dev_env.sh'

alias delete-cache-homebrew/='du -sh ${HOME}/.cache/Homebrew/ && rm -rf ${HOME}/.cache/Homebrew/'
alias delete-cache-pip='du -sh ${HOME}/.cache/pip/ && rm -rf ${HOME}/.cache/pip/'
alias delete-cache-yarn/='du -sh ${HOME}/.cache/yarn/ && rm -rf ${HOME}/.cache/yarn/'

alias pip-upgrade-all='. ${WORKSPACE_REPO_HOME}/python/run_pip_upgrade_all.sh'
alias rename-files='python ${WORKSPACE_REPO_HOME}/python/rename_files.py'

alias disable-apt-ocsp-verification='. ${WORKSPACE_REPO_HOME}/ubuntu/disable-apt-ocsp-verification.sh'
alias reset-apt-ocsp-verification='. ${WORKSPACE_REPO_HOME}/ubuntu/reset-apt-ocsp-verification.sh'