#!/bin/bash
# Set aliases for some generic scripts

WORKSPACE_REPO_HOME="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

alias browser='/c/Program\ Files/Mozilla\ Firefox/firefox.exe'
alias firefox='/c/Program\ Files/Mozilla\ Firefox/firefox.exe'

################################################################################
# docker

alias docker-rm-all-unused-containers-and-images='docker system prune -a'
alias docker-rm-containers-exited='docker rm $(docker ps -q -f status=exited)'
alias docker-rm-images-untagged='docker images prune'

################################################################################
# helm

alias helm-install='helm install'
alias helm-ls='helm ls'
alias helm-package='helm package'
alias helm-repo-update='helm repo update'
alias helm-rollback='helm rollback'
alias helm-search-hub='helm search hub'
alias helm-search-repo='helm search repo'
alias helm-show-all='helm show all'
alias helm-status='helm status'
alias helm-uninstall='helm uninstall'
alias helm-upgrade='helm upgrade'

################################################################################
# git

alias git-branch-all='. ${WORKSPACE_REPO_HOME}/useful-tools/git/run_git_branch.sh'
alias git-clean='git checkout -- .'
alias git-chmod='sh -c '\''git update-index --chmod="$@"'\'' _'
alias git-config-list='git config --list'
alias git-config-show-user='git config user.name && git config user.email'
alias git-commit='git commit -m'
alias git-fetch='git -c diff.mnemonicprefix=false -c core.quotepath=false --no-optional-locks fetch --prune origin'
alias git-ls-untracked='git ls-files --others --exclude-standard'
alias git-pull-all='. ${WORKSPACE_REPO_HOME}/useful-tools/git/run_git_pull.sh'
alias git-repo-latest-release='. ${WORKSPACE_REPO_HOME}/useful-tools/github/get_github_repo_latest_release.sh'
alias git-repo-latest-tag='. ${WORKSPACE_REPO_HOME}/useful-tools/github/get_github_repo_latest_tag.sh'
alias git-secrets-list='git secrets --list'
alias git-secrets-scan='git secrets --scan'
alias git-squash-new-start='. ${WORKSPACE_REPO_HOME}/useful-tools/git/squash_all_git_commits_into_latest.sh'

################################################################################
# go

alias go-build='go build'
alias go-clean-modcache='go clean -modcache'
alias go-get-aws='go get github.com/aws/aws-sdk-go-v2 && go get github.com/aws/aws-sdk-go-v2'
alias go-install='go install'
alias go-mod-init='go mod init'
alias go-mod-tidy='go mod tidy'
alias go-run='go run'
alias go-test='go test -v'

################################################################################
# ls

alias ls-common-ip-protocols='cat ${WORKSPACE_REPO_HOME}/quick-notes/common-ip-protocols.txt'
alias ls-common-ip-ranges='cat ${WORKSPACE_REPO_HOME}/quick-notes/common-ip-ranges.txt'
alias ls-common-ports='cat ${WORKSPACE_REPO_HOME}/quick-notes/common-ports.txt'
alias ls-mult-byte-units='cat ${WORKSPACE_REPO_HOME}/quick-notes/multi-byte-units.txt'
alias ls-unpurged-packages='dpkg --list | grep ^rc'

################################################################################
# kubectl
alias kubectl-describe-pod='sh -c '\''kubectl describe pod "$@"'\'' _'
alias kubectl-describe-secret-eks-admin='. ${WORKSPACE_REPO_HOME}/useful-tools/kubernetes/kubectl-describe-secret-eks-admin.sh'
alias kubectl-get-clusterrolebindings='kubectl get clusterrolebindings'
alias kubectl-get-clusterroles='kubectl get clusterroles'
alias kubectl-get-deployment='kubectl get deployment'
alias kubectl-get-deployment-all-namespaces='kubectl get deployment --all-namespaces'
alias kubectl-get-events='kubectl get events'
alias kubectl-get-ingress='kubectl get ingress'
alias kubectl-get-namespace='kubectl get namespace'
alias kubectl-get-po-a='kubectl get po -A'
alias kubectl-get-pods='kubectl get pods'
alias kubectl-get-pods-all-namespaces='kubectl get pods --all-namespaces'
alias kubectl-get-rolebindings-all-namespaces='kubectl get rolebindings --all-namespaces'
alias kubectl-get-roles-all-namespaces='kubectl get roles --all-namespaces'
alias kubectl-get-svc='kubectl get svc'
alias kubectl-get-svc-all-namespaces='kubectl get svc --all-namespaces'
alias kubectl-logs-aws-load-balancer-controller='kubectl logs -n kube-system deployment.apps/aws-load-balancer-controller'
alias kubectl-logs-cluster-autoscaler='kubectl logs -n kube-system deployment.apps/cluster-autoscaler'

################################################################################
# pip

alias pip-upgrade-all='. ${WORKSPACE_REPO_HOME}/useful-tools/python/run_pip_upgrade_all.sh'

################################################################################
# python

alias python-zoneinfo-available-timezones='python -c "import zoneinfo; print(\"\n\".join(tz for tz in sorted(zoneinfo.available_timezones())))"'
#alias python-timezones='python -c "import pytz;print(\"\n\".join(tz for tz in pytz.all_timezones))"'

################################################################################
# skaffold

alias skaffold-apply='skaffold apply'
alias skaffold-build='skaffold build'
alias skaffold-deploy='skaffold deploy'
alias skaffold-dev='skaffold dev'
alias skaffold-render='skaffold render'
alias skaffold-run='skaffold run'

################################################################################
# rm-

alias rm-cache-cdk='du -sh ${HOME}/.cdk/cache/ && rm -rf ${HOME}/.cdk/cache/'
alias rm-cache-homebrew='du -sh ${HOME}/.cache/Homebrew/ && rm -rf ${HOME}/.cache/Homebrew/'
alias rm-cache-pip='du -sh ${HOME}/.cache/pip/ && rm -rf ${HOME}/.cache/pip/'
alias rm-cache-tox='du -sh ${HOME}/.tox/distshare/ && rm -rf ${HOME}/.tox/distshare'
alias rm-cache-yarn='du -sh ${HOME}/.cache/yarn/ && rm -rf ${HOME}/.cache/yarn/'
alias rm-unpurged-packages="sudo apt purge $(dpkg --list | grep ^rc | awk '{ print $2; }')"

################################################################################
# update

alias update-git='. ${WORKSPACE_REPO_HOME}/useful-tools/git/install_git.sh'

# github related
alias update-act='. ${WORKSPACE_REPO_HOME}/useful-tools/github/install_act.sh'
alias update-gh='. ${WORKSPACE_REPO_HOME}/useful-tools/github/install_gh.sh'

alias update-golang='. ${WORKSPACE_REPO_HOME}/useful-tools/golang/install_golang.sh'

# docker related
alias update-dive='. ${WORKSPACE_REPO_HOME}/useful-tools/docker/install_dive.sh'

# k8s related
alias update-helm='. ${WORKSPACE_REPO_HOME}/useful-tools/kubernetes/install_helm.sh'
alias update-kops='. ${WORKSPACE_REPO_HOME}/useful-tools/kubernetes/install_kops.sh'
alias update-kubectl='. ${WORKSPACE_REPO_HOME}/useful-tools/kubernetes/install_kubectl.sh'
alias update-kubectx-and-kubens='. ${WORKSPACE_REPO_HOME}/useful-tools/kubernetes/install_kubectx_and_kubens.sh'
alias update-kustomize='. ${WORKSPACE_REPO_HOME}/useful-tools/kubernetes/install_kustomize.sh'
alias update-minikube='. ${WORKSPACE_REPO_HOME}/useful-tools/kubernetes/install_minikube.sh'
alias update-skaffold='. ${WORKSPACE_REPO_HOME}/useful-tools/kubernetes/install_skaffold.sh'

alias update-nodejs='. ${WORKSPACE_REPO_HOME}/useful-tools/nodejs/install_nodejs.sh'
alias update-typescript='. ${WORKSPACE_REPO_HOME}/useful-tools/typescript/install_typescript.sh'

alias update-pathpicker='. ${WORKSPACE_REPO_HOME}/useful-tools/install_fpp_Facebook_PathPicker.sh'

alias update-serverless='. ${WORKSPACE_REPO_HOME}/useful-tools/install_serverless.sh'

alias update-ubuntu='sudo apt-get update && sudo apt install ca-certificates && sudo apt-get -y upgrade && sudo apt-get -y dist-upgrade && sudo apt-get -y autoremove && sudo apt-get -y autoclean'

################################################################################
# Cheatsheets

alias k-cheatsheet-aws-network='browser https://github.com/kyhau/aws-notebook/blob/master/Networking.md'
alias k-cheatsheet-docker='browser https://github.com/kyhau/docker-notebook/blob/master/README.md'
alias k-cheatsheet-python='browser https://github.com/gto76/python-cheatsheet/blob/master/README.md'

################################################################################
# custom scripts or commands

alias dos2unix-r='find . -type f ! -iname "*.ps1" ! -name "*.bat" ! -path "*/.git/*" ! -path "*/.idea/*" -print0 | xargs -0 dos2unix'

alias pem2crt='_func(){ openssl x509 -inform PEM -in "$1" -out $(basename "${1%.*}.crt"); }; _func'

alias k-add-registry-yarnpkg-to-etc-hosts='registryYarnpkgComIpAddress=$(host registry.yarnpkg.com | awk '"'"'/has address/ { print $4 }'"'"' | head -n1) ; echo "${registryYarnpkgComIpAddress} registry.yarnpkg.com" | sudo tee -a /etc/hosts'

alias k-black='black --line-length=99'
# W605 Invalid escape sequence
alias k-flake8='flake8 --ignore W605 --max-line-length 99'
alias k-yamllint='yamllint -d "{extends: relaxed, rules: {document-start: disable, line-length: disable, truthy: disable}}" -f parsable .'

alias k-rm-dev-env='. ${WORKSPACE_REPO_HOME}/ubuntu/cleanup_dev_env.sh'

alias k-degreen='. ${WORKSPACE_REPO_HOME}/ubuntu/degreen.sh'

alias k-disable-apt-ocsp-verification='. ${WORKSPACE_REPO_HOME}/ubuntu/disable-apt-ocsp-verification.sh'
alias k-reset-apt-ocsp-verification='. ${WORKSPACE_REPO_HOME}/ubuntu/reset-apt-ocsp-verification.sh'

alias k-is-ip-in-range='python ${WORKSPACE_REPO_HOME}/useful-tools/networking/is_ip_in_range.py'

alias k-ipam-helper='python ${WORKSPACE_REPO_HOME}/../phpipam-api-helper/phpipam_api_helper.py'
alias k-panos-helper='python ${WORKSPACE_REPO_HOME}/../panos-api-helper/panos_api_helper.py'

alias k-rename-files='python ${WORKSPACE_REPO_HOME}/bin/rename_files.py'

alias k-reset-clock='. ${WORKSPACE_REPO_HOME}/ubuntu/reset_clock.sh'

alias k-whatismy-ipaddress='browser https://whatismyipaddress.com/'
alias k-whatismy-proxy='browser http://www.whatismyproxy.com/'
